/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 0 0% 9%;
    --background: 0 0% 95%;
    --primary: 29 100% 50%;
    --secondary: 29 97% 59%;
    --accent: 33 100% 85%;
  }
  .dark {
    --text: 0 0% 91%;
    --background: 0 0% 5%;
    --primary: 29 100% 50%;
    --secondary: 29 97% 41%;
    --accent: 33 100% 15%;
  }
}

body {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* the slides */
.slick-slide {
  margin: 0 7px;
}

/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */
